* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background: rgba(241, 250, 238, 0.9);
  padding: 80px 40px;
  /* background-image: url("../images/bg/bg-img.png"); */
}

.hero {
  padding: 60px 120px;
}

.hero_text_container {
  margin: 40px 0px;
}

.hero_heading_1 {
  font-size: 54px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: #1d3557;
}

.hero_heading_1 span {
  /* display: block; */
  color: #e63946;
}

.hero_text {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
  padding: 10px;
  width: 55%;
  margin: 0 auto;
}

.button {
  display: block;
  border: none;
  background-color: #1d3557;
  color: #fff;
  padding: 14px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin: 16px auto;
}

.hero_img {
  width: 100%;
}

/* .container {
  border-top-width: 1px ;
    border-top-style: solid;
    border-top-color: blue ;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border: 20px solid blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 40px 80px 20px;
  margin: 30px 40px 80px 20px;
} */
